<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bienvenue sur RateMyTeam"/>

    <title>Accueil</title>
    <link rel="stylesheet" href="{{ asset('/styles/app.css') }}">
</head>
{% include 'partials/header.html.twig' %}

<body>

<main class="main-content">
    <section class="section about">
        <h2 class="section-title">À propos de l'application</h2>
        <p class="section-text">
            Cette application a été développée pour permettre aux utilisateurs de noter les joueurs de football
            d'une équipe de Ligue 1. Vous pouvez consulter les performances des joueurs, donner des avis et
            voir comment chaque joueur se classe au sein de son équipe.
        </p>
        <p class="section-text">
            Que vous soyez un fan de football ou d'une équipe en particulier, notre application vous offre un moyen facile
            et rapide d'évaluer les performances des joueurs après chaque match.
        </p>
    </section>
    <section class="section features">
        <h2 class="section-title">Fonctionnalités</h2>
        <ul class="features-list">
            <li class="features-item">Noter les joueurs après chaque match</li>
            <li class="features-item">Consulter les statistiques des joueurs</li>
            <li class="features-item">Voir le classement des joueurs par équipe</li>
            <li class="features-item">Partagez vos opinions et analyses</li>
        </ul>
    </section>
    <section class="section start">
        <h2 class="section-title">Commencez dès maintenant !</h2>
        <p class="section-text">Inscrivez-vous ou connectez-vous pour commencer à noter les joueurs !</p>
        <a href="{{ path('app_register') }}" class="cta-button">S'inscrire</a>
    </section>
</main>
<footer class="footer">
    <p>&copy; {{ 'now'|date('Y') }} Guillaume Herold</p>
</footer>
</body>
</html>